db.sqlite3
**/*.pyc
.idea/**
venv
fixtures
ENV
*.csv
*.xlsx
*.xls
*.png
*.jpg
*.jpeg
hec-backend/lib/python2\.7/

hec-backend/bin/

bin/
lib/
share/

\.vscode/

include/python3\.6m

include/python2\.7

local/

Django-1\.11\.21\.dist-info/

django/

django_dynamic_preferences-1\.7\.dist-info/

dynamic_preferences/

example/

pytz/

six-1\.12\.0\.dist-info/

pytz-2019\.1\.dist-info/

tests/app2/

tests/buggy_app/

tests/

six\.py

persisting_theory/

persisting_theory-0\.2\.1\.dist-info/
